@import '../../styles/variables';

.angled-div {
    min-height: 10vw;
    position: relative;
    z-index: $zindex-foreground;
    box-sizing: border-box;
    
    background-color: $color--white;
    padding: 0 2rem;

}

.angled-div:after {
    display: block;
    content: '';
    position: absolute;
    top: -35%;
    left: 0;
    right: 0;
    height: 10vw;

    box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, .16);
    background-color: inherit;

    transform: skewY(-4deg);

    z-index: -10;
}