@media screen and (max-width: 670px)
{
    .contact-text > h2
    {
        font-size: 54px;
    }
}

@media screen and (max-width: 604px)
{
    .contact-page
    {
        height: auto;
    }

    .contact-page > .content
    {
        -webkit-align-items: center;
        align-items: center;

        padding: 120px 0 60px 0;
    }
    .contact-text
    {
        width: 80%;
    }
    .contact-text > h2
    {
        font-size: 42px;
    }

    .contact-links
    {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;

        -webkit-align-items: center;
        align-items: center;

        width: 100%;
    }
    .contact-links > a
    {
        margin: 12px 0;
        padding: 6px 0;
        width: 80%;
    }
}

@media screen and (max-width: 586px)
{
    .contact-text
    {
        width: 90%;
    }

    .contact-text > h2
    {
        text-align: center;
        font-size: 54px;
        margin-bottom: 20px;
    }

    .contact-links > a
    {
        width: 90%;
    }
}