.courses
{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;  
}

.courses > .content
{
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;    
}

.courses-btns
{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.courses-btns > button
{
  flex: 1;
  height: 40px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 2px rgba(90, 90, 90, .4);
}

#gifting-day
{
  color: #77ADA5;
  border: 2px solid #77ADA5;
  transition: all .8s;    
}
#gifting-day:hover, #gifting-day:focus
{
  cursor: pointer;
  background-color: #77ADA5;
  color: #3E403F;
  outline: none;
  box-shadow: 0px 0px 7px 3px rgba(90, 90, 90, .6);
}

#clergy-spouse
{
  color: #3E403F;
  border: 2px solid #3E403F;
  transition: all .8s;
}
#clergy-spouse:hover, #clergy-spouse:focus
{
  cursor: pointer;
  background-color: #3E403F;
  color: #77ADA5;
  outline: none;
  box-shadow: 0px 0px 7px 3px rgba(90, 90, 90, .6);
}