.upcoming-events
{
    width: 100%;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    padding: 50px 0;
    background-color: #3E403F;
}

.content
{
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    width: 80%;
    max-width: 800px;
}

.events-list
{
    -webkit-flex: 2;
    -ms-flex: 2;
    -moz-flex: 2;
    flex: 2;
}

.upcoming-events__header
{
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    flex: 1;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
  
.upcoming-events__header > h3
{
    color: #fff;
    font-family: 'Stalemate', cursive;
    font-size: 80px;
    line-height: 95%;
    text-align: center;

    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    
    margin-bottom: 20px;
}

.upcoming-events__header > img
{
    width: 100px;
}