@media screen and (max-width: 1024px)
{
    .hero
    {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 800px)
{
    .hero-text
    {
        width: 250px;
    }
}

@media screen and (max-width: 680px)
{
    .hero-text
    {
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: rgba(255, 255, 255, .6);
    }

    .hero-links
    {
        position: absolute;
        bottom: 9%;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-links > li
    {
        justify-content: center;
    }
}