.hero
{
    height: 90vh;
    width: 100vw;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: center;
    align-items: center;
  
    background-image: url('../../assets/Rowena_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}