.hero
{
    height: 82vh;
    width: 100vw;

    padding-top: 60px;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: flex-start;
    align-items: flex-start;

    background-image: url('../../assets/Rowena_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero > ul
{
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;

    padding: 20px;
}

.hero > ul > li
{
    display: -webkit-flex;
    display: flex;

    width: 80px;
}

.hero > ul > li > a
{
    width: 40px;
}

.hero > ul > li > a > img
{
    width: 100%;

    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.hero > ul > li > a > img:hover
{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#email-icon
{
    width: 46px;
}

.hero-text
{
    position: absolute;
    top: 88px;
    right: 40px;

    padding: 20px;
    width: 300px;

    background-color: rgba(255, 255, 255, .7);

    -webkit-box-shadow: 0px 0px 7px 3px rgba(40, 40, 40, .8);
    -moz-box-shadow: 0px 0px 7px 3px rgba(40, 40, 40, .8);
    box-shadow: 0px 0px 7px 3px rgba(40, 40, 40, .8);

    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.hero-text > h3
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.hero-text > p
{
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    color: #3E403F;
}