.hero
{
    height: 90vh;
    width: 100vw;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: center;
    align-items: center;
  
    background-image: url('../../assets/Rowena_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

  
#logo_main
{
    width: 350px;

    -webkit-box-shadow: 0px 0px 10px 8px rgba(60, 60, 60, .7);
    -moz-box-shadow: 0px 0px 10px 8px rgba(60, 60, 60, .7);
    box-shadow: 0px 0px 10px 8px rgba(60, 60, 60, .7);

    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}
#logo_main:hover, #logo_main:focus
{
    outline: none;
    transform: scale(1.03, 1.03);
}