.testimonials
{
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    width: 100%;
    padding: 40px 0;  
    background-color: #77ADA5;
}

.testimonials > .content
{
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;

    width: 80%;
    max-width: 800px;
}

.testimonials > .content > h3
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.quotes-list
{
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    
    margin-top: 40px;
}

@media screen and (max-width: 640px)
{
    .testimonials > .content > h3
    {
        text-align: center;
        font-size: 48px;
    }
}
  