.testimonials
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;  
    background-color: #77ADA5;
}

.testimonials > .content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.testimonials > .content > h3
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.quotes-list
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 40px;
}
  