.bible-verse
{
    width: 100%;
    padding-top: 60px;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  
    background-image: url('../../assets/bible_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
.bible-verse > .content
{
    width: 80%;
    max-width: 800px;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: center;
    align-items: center;
    
    padding: 50px;
}

.verse-text
{
    width: 300px;
    line-height: 90%;
    font-family: 'Stalemate', cursive;
    font-size: 70px;
    text-align: center;
    color: #3E403F;
}

.verse-reference
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #3E403F;
}

@media screen and (max-width: 1024px)
{
    .bible-verse
    {
        background-attachment: scroll;
    }
}