.review
{
    width: 100%;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    
    padding: 50px 0;  
    background-color: #3E403F;
}

.review > .content
{
    width: 60%;
    max-width: 480px;
}

.review > .content > p
{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
    color: #fff;
}

@media screen and (max-width: 500px)
{
    .review > .content
    {
        width: 80%;
    }
}